<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>

    <!-- <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=11; IE=10; IE=8; IE7; IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">

    <meta name="author" content=""> -->

    <!-- <title /> -->
    <link rel="stylesheet" href='{% static "css/base.css" %}'>

    <link rel="stylesheet" href='{% static "css/lib/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/lib/bootstrap.css" %}'>
    <!-- <link href="C:\Users\Suho\reblog\src\static\css\lib\bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link href="C:\Users\Suho\reblog\src\static\css\base.css" type="text/css" rel="stylesheet"> -->
    <!-- <link href="C:\Users\Suho\reblog\src\static\css\lib\bootstrap.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href='{% static "css/lib/font-awesome.min.css" %}'> -->
    <!-- <link rel="stylesheet" href='./static/css/lib/bootstrap.css'> -->
    <!-- <link rel="stylesheet" href='./static/css/lib/bootstrap.min.css'> -->

</head>

<body>
  <div class="col-md-4 p-lg-3 mx-auto my-4">
    <h1 class="display-4 font-weight-normal">수호네 블로그</h1>
  </div>
  <div class='container'>
    <div class="jumbotron text-white rounded bg-dark">
      <div class="row">

  {% block body %}{% endblock %}

      </div>
    </div>
  </div>

  <!-- <script src='{% static "js/lib/bootstrap.min.js" %}'></script> -->

</body>

</html>
