<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>

    <!-- <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=11; IE=10; IE=8; IE7; IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">

    <meta name="author" content=""> -->

    <!-- <title /> -->
    <link rel="stylesheet" href='{% static "css/base.css" %}'>

    <link rel="stylesheet" href='{% static "css/lib/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/lib/bootstrap.css" %}'>
    <!-- <link href="C:\Users\Suho\reblog\src\static\css\lib\bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link href="C:\Users\Suho\reblog\src\static\css\base.css" type="text/css" rel="stylesheet"> -->
    <!-- <link href="C:\Users\Suho\reblog\src\static\css\lib\bootstrap.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href='{% static "css/lib/font-awesome.min.css" %}'> -->
    <!-- <link rel="stylesheet" href='./static/css/lib/bootstrap.css'> -->
    <!-- <link rel="stylesheet" href='./static/css/lib/bootstrap.min.css'> -->

</head>

<body>
  <!-- <div class='container' style="margin-bottom:1px;">
    <h1 class="center-block display-4 font-weight-normal rounded" style="font-family:'돋움';text-align:center;background:linear-gradient( to right, yellow, red )">수호네 블로그</h1>
  </div> -->
  {% include "narbar.html" %}
  <header class="masthead" style="background-image: url('/static/home-bg.jpg');height:400px;">
      <div class="overlay"></div>
      <div class="container" style="position:relative;top:20%;text-align:center;">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1 style="font-size:80px">Suho Blog</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
  <div style="background-color:#d0ecfa">
    <div class='container'>
      <div class="jumbotron text-white rounded" style="background-color:#d0ecfa">
        <div class="row" >

    {% block body %}{% endblock %}

        </div>
      </div>
    </div>
    <div>

  <!-- <script src='{% static "js/lib/bootstrap.min.js" %}'></script> -->

</body>

</html>
