{% extends "base.html" %}
{% block body %}
{% include "narbar.html" %}
<div class='container'>
  <div class="jumbotron text-white rounded bg-dark">
    <div class="row">
      <div class="col-sm-8">
        </div>
        <div class="col-sm-6">
          <p class="lead my-3">{{article.title}}의 상세내용:{{article.content}}</p>
        </div>
        {% endfor %}
      </div>
      <div class="col-sm-4">
        <p>#test</p>
        <p>#test2</p>
        <p>#test3</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
