{% extends "base.html" %}
{% block body %}
<script>
  // {% if messages %}
  //   {% for msg in messages %}
  //     alert('{{ msg }}');
  //   {% endfor %}
  // {% endif %}
</script>
<script>
  function click_del(a){
    var b=document.getElementsByName(a);
    location.href="/DeleteComment?article_id={{ article.id }}&id="+b[0].value;
    // {% if messages %}
    //   {% for msg in messages %}
    //     alert('{{ msg }}');
    //   {% endfor %}
    // {% endif %}
  }

  // function click_add(){
  //   {% if messages %}
  //     alert('{{ messages }}');
  //   {% endif %}
  // }
</script>

      <div class="col-sm-9">
        <div class="col-sm-8">
          <p class="display-4">"{{article.title}}"의 상세내용:</p>
        </div>
      <div class="col-sm-8">
        <p class="lead my-3">{{article.content}}</p>
      </div>
      <div class="col-sm-8">
        <div>
          {% for comment in article.article_comments.all %}
           <p>->{{ comment.username}}:{{comment.content}}  <button type= "button" class="btn btn-light" name="{{ comment.id }}" value="{{ comment.id }}" onclick="click_del(this.value)">삭제X</button></p>
          {% endfor %}
          <script>
            {% if messages %}
              {% for msg in messages %}
                alert('{{ msg }}');
              {% endfor %}
            {% endif %}
          </script>
        </div>
        <div>
          <form method="post" action="">
            {% csrf_token %}
            <input name="username" autocomplete="off" placeholder="아이디" style="width:130px;"/>
            <input name="content" autocomplete="off" placeholder="댓글내용"/>
            <button type="submit" onclick="click_add()">추가</button>
          </form>
        </div>
       </div>
      </div>
    {% include "sidebar.html" %}
{% endblock %}
