{% extends "base.html" %}
{% block body %}
<style>
    div{color:black}
</style>

      <div class="col-sm-9">
        {% for article in article_list %}
        <div class="col-sm-8">
		      <h1 class="display-4 font-italic"><a href="/{{ article.id }}" style="color:black;">{{article.title}}</a></h1>
        </div>
        <div class="col-sm-8">
          <h3 style="margin-top:40px;padding-bottom:40px;margin-bottom:40px;border-bottom:1px solid black;">내용:{{article.content}}</h3>
        </div>
        {% endfor %}
      </div>
      {% include "sidebar.html" %}



{% endblock %}
