{% extends "base.html" %}
{% block body %}
<script>
  function click_del(a){
    var b=confirm("정말로 삭제하시겠습니까?")
    if(b==true){
      location.href="/dellotto?id="+a;
    }
    // alert("/dellotto?id="+a);
  }
</script>
<style>
    div{color:black}
</style>
      <div class="col-sm-9">
        <div class="col-sm-8">
          <h1 class="display-4 font-italic" style="color:black">Lotto Page</h1>
          <form method="post" action="" name='lott'>
            {% csrf_token %}
            <!-- <input name="lotto_day" autocomplete="off" placeholder="날짜" /> -->
            <button type="submit">생성</button>
          </form>
        </div>
        <div class="col-sm-9">

          <!-- <p class="lead my-3"> - {{ lotto.day }} 번호:{{ lotto.lotto }} <button type= "button" name ="{{ lotto.id }}" value=" {{ lotto.id }} " onclick="click_del(this.value)">del</button></p> -->
          <table class="table">
            <thead>
              <tr>
                <th scope="col">생성날짜</th>
                <th scope="col">구매할 날짜</th>
                <th scope="col">추천 번호</th>
                <th scope="col">삭제</th>
              </tr>
            </thead>
            <tbody>
              {% for lotto in lotto_list %}
              <tr>
                <td>{{lotto.day}}</td>
                <td>{{lotto_cnt}}</td>
                <td>{{lotto.lotto}}</td>
                <td><button type= "button" name ="{{ lotto.id }}" value=" {{ lotto.id }} " onclick="click_del(this.value)">del</button></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% include "sidebar.html" %}
{% endblock %}
