<style>
  li {font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
      margin-left:45px;
        }
  ul[class="navbar-nav mr-auto"] {margin-left:70%;}

</style>


  <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="position:absolute;left:10%;max-width: 960px;width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/?">Home </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/blog">Blog </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/lotto">Lotto </a>
        </li>
      </ul>
    </div>
  </nav>
