<div class='container'>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top1" style="background-color:#bbd9f6;">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Blog </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Info </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
